.header {
  &__Btn {
    display: flex;
    gap: 5rem;

    &-BookNow {
      background-color: var(--pink);
      color: white;
      font-family: "Comfortaa", sans-serif;
      font-weight: 700;
      padding: 1.3rem 3rem;
      border: none;
      font-size: 2.5rem;
      @media (max-width: 1200px) {
        padding: 1.2rem 2.5rem;
        font-size: 2rem;
      }

      @media (max-width: 425px) {
        padding: 1.2rem 2.5rem;
        font-size: 1.5rem;
      }
    }

    &-Contact {
      font-family: "Comfortaa", sans-serif;
      font-weight: 700;
      padding: 1.3rem 3rem;

      border: solid 1px white;
      font-size: 2.5rem;
      color: white;
      background-color: transparent;
      @media (max-width: 1200px) {
        padding: 1.2rem 2.5rem;
        font-size: 2rem;
      }
      @media (max-width: 425px) {
        padding: 1.2rem 2.5rem;
        font-size: 1.5rem;
      }
    }
  }
}
