.contact {
  width: 100%;
  height: 100dvh;
  margin-top: 20rem;
  position: relative;
  &__img {
    width: 100%;
    height: 100%;
    background-image: url(../img/footer.webp);
    background-size: cover;
    background-position: center;
  }
}

.curved {
  content: "";
  position: absolute;
  top: -60px; /* Adjust based on the height of the curve */

  width: 100%;
  height: 150px; /* Height of the curve */
  background-color: white; /* Color of the background outside the curve */
  border-radius: 0% 0% 50% 50% / 0% 0% 55% 59%;
}
