.header {
  padding: 0rem 0rem 0rem 0rem;
  width: 100%;
  height: 100dvh;

  &__img {
    width: 100%;
    height: 100%;
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
  }

  &__Box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    gap: 8rem;
    height: 80%;

    &-title {
      text-align: center;
      font-size: 6rem;
    }

    &-subtitle {
      text-align: center;
      font-size: 2rem;
    }
  }

  &__Btn {
    display: flex;
    gap: 5rem;

    &-BookNow {
      background-color: var(--pink);
      color: white;
      font-family: "Comfortaa", sans-serif;
      font-weight: 700;
      padding: 1.3rem 3rem;
      border: none;
      font-size: 2.5rem;
    }

    &-Contact {
      font-family: "Comfortaa", sans-serif;
      font-weight: 700;
      padding: 1.3rem 3rem;

      border: solid 1px white;
      font-size: 2.5rem;
      color: white;
      background-color: transparent;
    }
  }
}

.curved-container {
  content: "";
  position: absolute;
  bottom: -30px; /* Adjust based on the height of the curve */

  width: 100%;
  height: 150px; /* Height of the curve */
  background-color: #ffffff; /* Color of the background outside the curve */
  border-radius: 50% 50% 0% 0% / 55% 59% 0% 0%;
}
