.location {
  width: 100%;
  height: 100%;
  &__header {
    width: 100%;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @media (max-width: 1024px) {
      height: 10rem;
    }
    @media (max-width: 768px) {
      height: 8rem;
    }
    @media (max-width: 425px) {
      height: 6rem;
    }

    &-text {
      font-size: 7rem;
      font-weight: 700;
      color: transparent;
      background: url(../img/reviews.png) no-repeat center center;
      background-size: cover;
      -webkit-background-clip: text; /* For webkit browsers */
      background-clip: text; /* Standard property */
      @media (max-width: 1024px) {
        font-size: 6rem;
      }
      @media (max-width: 768px) {
        font-size: 5rem;
      }
      @media (max-width: 425px) {
        font-size: 4rem;
      }
    }
  }
}

.map {
  width: 100%;
  height: 100%;
  position: relative;
  &__img {
    width: 100%;
    height: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 5rem;
    background-image: url(../img/footer.webp);
    background-size: cover;
    background-position: center;
    transform: scaleY(-1);

    /* Gradient overlay */
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        rgba(0, 0, 0, 0.3),
        /* Adjust color and opacity */ rgba(0, 0, 0, 0.3)
          /* Adjust color and opacity */
      );
      z-index: 1; /* Make sure the gradient overlay is above the image */
    }

    /* Ensure content is above the gradient */
    > * {
      position: relative;
      z-index: 2;
    }
  }
}

iframe {
  width: 90%;
  transform: scaleY(-1) !important; /* Ensure iframe is vertically flipped */
  filter: brightness(1) contrast(1) !important; /* Default values for iframe */
}
