.nav {
  display: flex;
  gap: 5rem;
  background-color: rgb(255, 255, 255);
  width: 100%;

  font-size: 2.5rem;
  align-items: center;

  position: fixed;
  justify-content: space-around;
  padding: 0 10%;
  z-index: 1000;

  @media (max-width: 1550px) {
    font-size: 2rem;
  }

  &__logoBox {
    min-width: 8rem;
    height: 8rem;
    @media (max-width: 1250px) {
      min-width: 6rem;
      height: 6rem;
    }

    &-img {
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    color: var(--teal);
    font-size: 5rem;
    font-weight: 700;
    text-wrap: nowrap;
    @media (max-width: 1550px) {
      font-size: 4rem;
    }
  }

  &__linkBox {
    display: flex;
    gap: 10rem;
    align-items: center;
    width: 100%;
  }
  &__link {
    color: var(--teal);

    font-weight: 700;
  }

  &__link-pink {
    color: var(--pink);
    font-weight: 700;
  }
}
