.nav {
  display: flex;
  gap: 8rem;
  background-color: rgb(255, 255, 255);
  width: 100%;
  font-size: 2.5rem;
  align-items: center;
  position: fixed;
  padding: 0 10%;
  z-index: 1000;

  @media (max-width: 1550px) {
    font-size: 2rem;
    gap: 5rem;
  }
  @media (max-width: 1150px) {
    padding: 0 5%;
  }
  @media (max-width: 950px) {
    padding: 0;
    gap: 0;
    justify-content: space-evenly;
  }
  @media (max-width: 600px) {
    justify-content: center;
    gap: 1rem;

    padding: 0.5rem 1rem;
    width: 100%;
  }

  &__logoBox {
    min-width: 8rem;
    height: 8rem;
    @media (max-width: 1250px) {
      min-width: 6rem;
      height: 6rem;
    }
    @media (max-width: 800px) {
      min-width: 5rem;
      height: 5rem;
      padding: 0.5rem;
    }
    @media (max-width: 600px) {
      min-width: 4.5rem;
      height: 4.5rem;
    }

    &-img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    color: var(--teal);
    font-size: 5rem;
    font-weight: 700;
    text-wrap: nowrap;
    text-decoration: none;
    @media (max-width: 1550px) {
      font-size: 4rem;
    }
    @media (max-width: 1150px) {
      font-size: 3rem;
    }
    @media (max-width: 800px) {
      font-size: 2.3rem;
    }
    @media (max-width: 600px) {
      font-size: 3rem;
      text-align: center;
    }
  }

  &__linkBox {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    @media (max-width: 600px) {
      gap: 1.5rem;
    }
  }

  &__link {
    color: var(--teal);
    font-weight: 700;
    width: fit-content;
    text-decoration: none;
    &:hover {
      color: var(--pink);
    }
    @media (max-width: 800px) {
      font-size: 1.6rem;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }

  // &__link-pink {
  //   text-decoration: none;

  //   color: var(--pink);
  //   font-weight: 700;
  //   @media (max-width: 800px) {
  //     font-size: 1.6rem;
  //   }
  //   @media (max-width: 600px) {
  //     display: none;
  //   }
  // }
}
